.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .not-found h1 {
    font-size: 5rem;
    margin: 0;
  }
  
  .not-found h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  
  .not-found p {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  
  .not-found button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #ff5a36;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .not-found button:hover {
    background-color: #DB3F23;
  }
  