/* Navigation bar styles */
.navbar {
  color: white;
  padding: 1rem;
}

.navbar a {
  color: white;
  margin-right: 1rem;
}



/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

/* Button styles */
.btn {
  display: inline-block;
  background-color: #ff5a36;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #FF7C57;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-2 {
  padding: 2rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }

}
