.join-us-container{
    width: 100%;
    background-color: #FFF0E8;
}
.join-us-sub-container{
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap:6rem;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.join-us-sub-container h1{
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    color: #0f172a;
}
.join-us-sub-container p{
    color: #475569;
    font-size: 1.125rem;
    font-family: "Roboto";
}
.item{
    color: #0f172a;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 2rem;
}
.item-icon {
margin-right: 8px; 
vertical-align: middle; 
transition: transform 0.3s;
}
.join-btns{
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.join-btns > .contact-btn, .start-btn{
    padding: 0.775rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-align: center;
    vertical-align: middle; 
    box-shadow: inset 0 0 0 0 #0f172a;
    transition: 0.5s all ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.join-btns .btn-icon{
    margin-right: 8px; 
    vertical-align: middle; 
}
.start-btn{
    color: #fff;
    background-color: #ff5733;
    border: none;
}
.start-btn:hover{
    background-color: #FF7C57;
}
.join-btns > .contact-btn{
    color: #0f172a;
    background-color: #fff;
    box-shadow: 0 0 2px 1px #0f172a;
    
}
.contact-btn:hover{
    background-color: #FFD7C4;
}
.contact-btn:hover .btn-icon{
    transform: scale(1.2);
    color: #0f172a;
    transition: transform 0.3s;
}
.join-us-image-container img{
border-radius: 15px;
object-fit: cover;
}
@media (max-width: 768px) {
    .join-us-container{
        padding: 20px;
    }
    .join-us-sub-container {
        grid-template-columns: 1fr; /* Stack items vertically */
        padding-left: 0.5rem; /* Reduced padding */
        padding-right: 0.5rem; /* Reduced padding */
    }

    .join-us-sub-container h1 {
        font-size: 2.5rem; /* Smaller heading size */
    }

    .join-us-sub-container p {
        font-size: 1rem; /* Smaller paragraph size */
    }

    .item {
        font-size: 1rem; /* Smaller item text size */
        margin-top: 1.5rem; /* Reduced margin */
    }

    .join-btns {
        flex-direction: column; /* Stack buttons vertically */
        align-items: stretch; /* Stretch buttons to full width */
    }

    .join-btns > .contact-btn, 
    .join-btns > .start-btn {
        width: 100%; /* Make buttons full width */
        margin-top: 1rem; /* Add some space between buttons */
    }
    .join-btns >.contact-btn{
        display: block;
    }
}
