/* hiding mobile menu icon */
.mobile-icon{
    display: none;
}
#mobile-contact{
    display:none;
}
.navbar{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.navbar-container{
    max-width: 1350px;
    margin: 0 auto;
}
.navbar-logo > img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.tagline{
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding: 0 10px;
    font-style: italic;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #F5F5F5;
    color: #090C0E;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;

}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: white;

}
.nav-item{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding: 0 10px;
}
.nav-links{
    color: #000;
    text-decoration: none;
    font-weight: 400;
}
.nav-links:hover{
    color: #B2B2B2;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}
.btn-contact{
    background-color: #ff5a36;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-innerBtn{

}
.btn-contact:hover{
    background-color: #DB3F23;
}
.btn-contact > .nav-links{
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding: 0 10px;
}
.btn-contact:hover > .nav-links{
    color: #FFFFFF;
}
.container-general {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; /* Adds padding inside the container */
    max-width: 1200px; /* Sets a maximum width */
    width: 100%; /* Ensures it takes full width */
    box-sizing: border-box; /* Includes padding in width calculation */
}
@media screen and (max-width:769px) {
    .nav-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
        padding: 0 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: #090C0E;
        position:fixed;
        top:90px;
        right: -400px;
        width: 300px;
        height:100vh;
        background-color: #f5f5f5;
        opacity: 0.9;
        padding: 40px 0 0 10px;
        z-index: 100;
        margin-top: -20px;
    }
    .nav-menu.active{
        right: 0px;
    }
    .contact-btn{
        display:none;
    }
    .mobile-icon{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    .nav-item{
        color: #090C0E;
        font-size: 1rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        padding: 0 10px;
        margin-bottom: 25px;
    }
    #mobile-contact{
        display:block;
        background-color: #ff6666;
        color: #FFFFFF;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 14px;
    }
    #mobile-contact:hover{
        background-color: #DB464B;
    }
    #mobile-contact > .nav-links{
        color: #FFFFFF;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        padding: 0 10px;
        text-align: center;
    }
    #mobile-contact:hover > .nav-links{
        color: #FFFFFF;
    }
}